.propCarrito img{
    width: 5rem;
    height: 5rem;   
}
.propCarrito{
    color: white;
    text-align: left;
    text-align: center;
    margin-right: 5rem;
    font-weight: bold;
}
.logo{
    width: 5rem;
    height: 5rem;   
    margin-right:15rem;
}
.displayCard{   
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 1%;
    width: 30%;   
}
.costStyle{
    text-align: right;
    font-weight: bold;
    font-size: larger;
}
.imgSlice{
    width: 240px;
    height: 360px;
}

.carousel{
    text-align: center;
    background-color: gray;
    color: black;
}
h1{
    text-align: center;
    background-color: gray;
    color: black;
    padding-top: 2%; 
    padding-bottom: 2%;
}
.btnCards{
    display: flex;
    justify-content: space-between;
}
.btnInfo{
    display: flex;
    justify-content: center;
}
#custom{
    flex-direction: row;
}
#customb{
    padding-left: 10%;
}
