.propCarrito img{
    width: 5rem;
    height: 5rem;   
}
.propCarrito{
    color: white;
    text-align: left;
    text-align: center;
    margin-right: 5rem;
    font-weight: bold;
}
.logo{
    width: 5rem;
    height: 5rem;   
    margin-right:15rem;
}
.displayCard{   
    display: flex;
    flex-wrap: wrap;
  
}
.card{
    margin: 1%;
    width: 30%;
    
}